{% extends 'base.html' %}
{% block title %}Success!!{% endblock %}

{% block content %}


        <div class="card">
        <div class="card-header">
            <div class="col-3">
        From:{{ flight_obj.source }}
            </div>
            <div class="col-3">
        To:{{ flight_obj.destination }} </div></div>
        <div class="card-body" >
		<h5 class="card-title">{{ fligh_obj.name}} </h5>
            <h6 class="card-subtitle mb-2 text-muted"> From:{{ flight_obj.departure_time }} To:{{ flight_obj.arrival_time }}</h6>
        <br>
        <p class="card-text">
            Total members :{{ num }}<br>
            Rate :{{ rate }}<br>
            Total : {{ num }} x {{ offrate }} = {{ total }}
        </p>
        </div>
        </div>
    <h4 class="alert alert-success">
        Successfully booked !! 
    </h4>

{% endblock %}