{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'login_css.css' %}>
</head>
<body>
    
        <div>
            <div>
                <div>
                    <h1>{{ flight_obj.name}} </h1><br>
                    <h1>From: {{ flight_obj.source }}</h1>
                </div>
                <div>
                    <h1>To: {{ flight_obj.destination }} </h1>
                </div>
            </div>
        </div>
    <h1 style="color: green" >
        Your Ticket is Successfully booked !! 
    </h1>
</body>
</html>